<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gionee.autotest.field"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".FieldApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/main_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.install.InstallAppActivity"
            android:label="@string/install_label_name"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signal.SignalActivity"
            android:label="@string/signal_label_name"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.incoming.InComingActivity"
            android:label="@string/incoming_label_name"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.outgoing.OutGoingActivity"
            android:label="@string/out_going_label_name"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.data_reset.DataResetActivity"
            android:label="@string/data_reactivation"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.message.MessageActivity"
            android:label="@string/message_send"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.incoming.InComingReportActivity"
            android:label="接通率报告"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.network_switch.NetworkSwitchActivity"
            android:label="@string/network_switch"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.call_quality.CallQualityActivity"
            android:label="@string/call_quality_label"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.debug.DebugActivity"
            android:label="@string/debug_label"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.throughput.MainActivity"
            android:label="@string/throughput"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.throughput.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.throughput.ResultStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.throughput.SpeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.data_stability.DataStabilityActivity"
            android:label="@string/data_stability_label"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gionee.autotest.field.ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.data_stability.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".ui.data_stability.report.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.data_reset.DataResetPresentationActivity"
            android:label="@string/data_reset_test_list"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.outgoing.report.OutGoingReportActivity"
            android:label="拨通率报告"
            android:screenOrientation="portrait"/>

        <service android:name=".services.SignalMonitorService" />
        <service android:name=".services.DataResetServices" />
        <service android:name=".services.NetworkSwitchService" />
        <service android:name=".services.MessageServices" />
        <service android:name=".services.WebViewService" />

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".ui.outgoing.OutGoingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.incoming.InComingService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>